---

- name: Add ZENTRAL_CONF_DIR to /etc/profile
  lineinfile:
    dest: /etc/profile
    regexp: '^export ZENTRAL_CONF_DIR=.*'
    line: "export ZENTRAL_CONF_DIR={{ zentral_homedir }}/zentral/conf/start/zentral"
    backup: yes
    create: yes

