# {{ ansible_managed }}
[Unit]
Description=Zentral Gunicorn
#Requires=redis.service
#Wants=mysqld.service postgresql.service
#After=redis.service
 
[Service]
## no daemon mode
#Type=simple
## daemon mode
#Type=forking
User=_zentral
Group=_zentral
Environment="ZENTRAL_CONF_DIR={{ zentral_homedir }}/zentral/conf/start/zentral"
WorkingDirectory={{ zentral_homedir }}/zentral/server/
ExecStart={{ gunicorn_path }} --chdir {{ zentral_homedir }}/zentral/server -b {{ zentral_ip_listen }}:{{ zentral_port }} -w 4 --access-logfile {{ zentral_logdir }}/gunicorn.log --error-logfile {{ zentral_logdir }}/gunicorn.err server.wsgi
ExecReload=/bin/kill -HUP $MAINPID
UMask=0022
TimeoutSec=30
RestartSec=15s
#Restart=always
Restart=on-failure
SyslogIdentifier=zentral
PrivateTmp=true
 
[Install]
WantedBy=default.target
