[Unit]
Description=Zentral workers
#Requires=redis.service
#Wants=mysqld.service postgresql.service
#After=redis.service
 
[Service]
## no daemon mode
#Type=simple
## daemon mode
#Type=forking
User=_zentral
Group=_zentral
Environment="ZENTRAL_CONF_DIR={{ zentral_homedir }}/zentral/conf/start/zentral"
WorkingDirectory={{ zentral_homedir }}/zentral
ExecStart=/usr/bin/python server/manage.py runserver runworkers
#ExecStart=/usr/bin/python server/manage.py runserver runworkers --prometheus-sd-file {{ zentral_homedir }}/zentral/conf/prometheus_sd/workers.yml --promotheus-base-port 8100
UMask=0022
TimeoutSec=30
RestartSec=15s
#Restart=always
Restart=on-failure
SyslogIdentifier=zentral
PrivateTmp=true
 
[Install]
WantedBy=default.target
